<% title "Answer" %>

<p>
  <strong>Ticket:</strong>
  <%= @answer.ticket %>
</p>
<p>
  <strong>User:</strong>
  <%= @answer.user %>
</p>
<p>
  <strong>Message:</strong>
  <%= @answer.message %>
</p>

<p>
  <%= link_to "Edit", edit_answer_path(@answer) %> |
  <%= link_to "Destroy", @answer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", answers_path %>
</p>
